@import url(base.css);

/* 
min-widht: 460px

*/

body{
    background-color: var(--bg-color-header);
}

header{
    display: flex;
    align-items: center;
    justify-content:center; 
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 50px;
    background-color: var(--bg-color-header);
}

nav{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 70%;
}

nav a{
    text-decoration: none;
    color: var(--color-link-nav);
    font-family: var(--font-poppins);
    font-weight: bold;
    cursor: pointer;
}

nav a:hover{
    text-decoration: underline;
}

main{
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

div h1{
    font-family: var(--font-poppins);
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.title{
    text-align: center;
    padding-left: 5px;
}

section{
    background-color: var(--bg-color-white);   
    width: 50vw;
    min-width: 400px;
    border-radius: 3px;

}

/* .container-register{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.body{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: start;
    flex-direction: column;
}

.date-exit{
    display: flex;
    gap: 10px;
}

label{
    font-family: var(--font-poppins);
    cursor: pointer;
}

div.button-save{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

div.button-save button{
    width: 50%;
    height: 30px;
    border: none;
    background-color: var(--bg-color-header);
    color: var(--bg-color-white);
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

table{
    width: 100%;
}

thead{
    background-color: rgb(51, 51, 51);
}

th{
    font-family: var(--font-poppins);
    font-size: 24px;
    color: #fff;
    font-weight: 500;
}

td,th{
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid black;
}

.blue{
    background-color: blue;
}
